<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h1>Bugs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="w-14">User</th>
      <th class="w-14">Title</th>
      <th class="w-14">Description</th>
      <th class="w-14">Issue type</th>
      <th class="w-14">Priority</th>
      <th class="w-14">Status</th>
      <th class="w-14">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td class="w-14"><%= ("#{bug.user.try(:fname)} #{bug.user.try(:lname)}") || ("NA") %></td>
        <td class="w-14"><%= bug.title %></td>
        <td class="w-14"><%= bug.description %></td>
        <td class="w-14"><%= bug.issue_type %></td>
        <td class="w-14"><%= bug.priority %></td>
        <td class="w-14"><%= bug.status %></td>
        <td class="w-14"><%= link_to bug, class: "btn btn-default btn-sm" do %>
            Show
            <% end %>
            <%= link_to edit_bug_path(bug), class: "btn btn-default btn-sm" do %>
            Edit
            <% end %>
            <%= link_to bug, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do %>
            Delete
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Bug', new_bug_path, :class => "btn btn-primary" %>
